body{
    margin: 0%;
    /* padding: 0%; */
}

#game{
    border: 5px solid rgb(9, 240, 124);
    /* margin-left: 10%;
    margin-top: 2%; */
}

#container{
 height: 20vh;
 width: 35vw;
 border-radius: 4%;
 margin-left: 2%;
 margin-top: 2%;
 background-color: #fAfAfA;
 border:2px solid #FF362E;
}

.title{
margin-left: 8%;
font-size: 2vw;
position: relative;
}

.score{
  font-size: 5vw; 
  line-height: 10vh; 
}

#random{
  height: 10vh;
  position: absolute;
  margin-top: -1%;
  margin-left: 10%;
}
