:root{
    --color-1:red;
}
.inner{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.logo{
    height: 70vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2vh;
}
.name{
    height: 30vh;
    width:100vw;
    color: var(--color-1);
    justify-content: center;
    align-items: center;
    display: inherit;
    text-align: center;
    font-size:4em;
}