:root{
    --color-1:red;
    --color-2:yellowgreen;
    --color-3:white;
}
.inner{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.logo{
    height: 70vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2vh;
}
.name{
    height: 30vh;
    width:100vw;
    color: var(--color-1);
    justify-content: center;
    align-items: center;
    display: inherit;
    text-align: center;
    font-size:4em;
}
/* instruction, score, start, play and text this is for home page */
#instruction{
    height: 20vh;
    font-size: 4vw;
    color: var(--color-2);
    width:100vw;
    text-align: right;   
}
.score{
    height: 50vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}
.txt{
    height:10vh;
    width:40vh;
    border-radius: 30px;
    font-size:5vw;
    margin-left: 3vw;
    border-color: var(--color-1);
    text-align: center;
}
.play{
    height: 30vh;
    width:100vw;
    font-size:2em;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.start{
    border-radius: 30px;
    color: var(--color-1);
    border-color: var(--color-1);
    background-color: var(--color-3);
}
/* this for last page */
.full{
    height: 100vh;
    width: 100vw;
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: var(--color-2);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.greet{
    height: 50vh;
    
}
